* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #111, #53d4f6);
    margin: 0;
    background-color: transparent;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar {
    width: 15vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7vh;
    padding-left: 1vh;
    border-right: 0.3vh solid white;
    padding-right: 1vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

.menu-item {
    width: 10vh;
    height: 10vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.menu-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-item .color {
    opacity: 0;
}

.menu-item:hover .color {
    opacity: 1;
}

.menu-item:hover .bw {
    opacity: 0;
}

img.logo {
    justify-content: center;
    width: 20vw;
    align-items: center;
    margin-left: 32vw;
    margin-right: 32vw;
    position: fixed;
    z-index: 900;
}

img.logomobile {
    display: none;
}

h6 {
    text-align: center;
    color: #fff;
    font-size: 1.6vw;
    margin-top: 0.5vw;
    font-family: 'Montserrat', sans-serif;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content a {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1vh;
}

div#planos {
    width: 100%;
}

.logo {
    max-width: 40vh;
    height: auto;
}

.planos-title {
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 2vh;
    font-size: 4vh;
    margin-top: 15vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2vh;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 calc(24% - 1%);
    background-color: transparent;
    border: 0.3vh solid white;
    text-align: center;
    padding: 2vh;
    box-sizing: border-box;
    margin-right: 1%;
    margin-bottom: 2vh;
    min-width: auto;
    overflow: hidden;
    border-radius: 1vh;
    height: 50vh;
}

.card:nth-child(4n) {
    margin-right: 0;
}

.card h2 {
    font-size: 3vh;
    color: white;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    margin-bottom: 1vh;
    display: block;
}

.card h4 {
    font-size: 4vh;
    color: white;
    margin-bottom: 1.5vh;
}

.card button {
    background-color: #fff;
    color: #53d4f6;
    border: none;
    padding: 2vh 1.5vh;
    cursor: pointer;
    width: 80%;
    font-size: 2vh;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.5vh;
    border: 0.2vh solid #fff;
    text-shadow: 0.1vh 0.1vh 0.1vh black;
}

.card button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.discount-button-container {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.discount-button {
    background-color: #fff;
    color: #53d4f6;
    border: none;
    padding: 2vh 1.5vh;
    cursor: pointer;
    font-size: 2vh;
    border-radius: 1vh;
    border: 0.2vh solid #fff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0.1vh 0.1vh 0.1vh black;
}

.discount-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 7vh;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: auto;
        gap: 1.5vh;
        padding: 0;
        white-space: nowrap;
        border-right: none;
        box-shadow: 0 0.5vh 1.6vh rgba(0, 0, 0, 0.7);
        border-top: 0.1vh solid white;
    }

    .menu-item {
        flex-shrink: 0;
    }
    
   .menu-item {
        width: 7vh;
        height: 7vh;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
    
    .menu-item img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        transition: opacity 0.3s ease;
        position: absolute;
        top: 10%;
        left: 0;
    }

    .content {
        padding: 1rem;
    }

    h6 {
        text-align: center;
        color: #fff;
        font-size: 1.6vw;
        margin-top: 0.5vw;
        font-family: 'Montserrat', sans-serif;
        display: none;
    }

        img.logomobile {
        display: flex;
        width: 65%;
        margin-left: 17.5%;
        margin-right: 17.5%;
    }

    img.logo {
        display: none;
    }

    .slide h1 {
        font-size: 5vw;
        top: 30%;
    }

    .slide button {
        font-size: 3vw;
        padding: 2vw 4vw;
    }

    .prev,
    .next {
        font-size: 4vw;
        padding: 2vw;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1vh 0;
        flex-wrap: wrap;
    }

    .card {
        flex: 0 0 calc(49% - 1%);
        background-color: transparent;
        border: 0.3vh solid white;
        text-align: center;
        padding: 1.5vh;
        box-sizing: border-box;
        margin-right: 1%;
        margin-bottom: 1vh;
        min-width: auto;
        overflow: hidden;
        border-radius: 1vh;
        height: 29vh;
    }

    .card h2 {
        font-size: 2vh;
        color: white;
        margin-top: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card img {
        width: 100%;
        height: 12vh;
        object-fit: cover;
        margin-bottom: 1vh;
        display: block;
    }

    .card button {
        background-color: #fff;
        color: #53d4f6;
        border: none;
        padding: 1.2vh 1.5vh;
        cursor: pointer;
        width: 80%;
        font-size: 2vh;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        border-radius: 0.5vh;
        border: 0.2vh solid #fff;
        text-shadow: 0.1vh 0.1vh 0.1vh black;
    }

    .card h4 {
        font-size: 3vh;
        color: white;
        margin-bottom: 1.5vh;
    }

    .planos-title {
        color: white;
        text-align: center;
        width: 100%;
        margin-bottom: 0;
        font-size: 3vh;
        margin-top: -0.5vh;
        font-family: 'Montserrat', sans-serif;
    }

    .discount-button-container {
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}
